<h2>Book List</h2>
<ul *ngIf="books.length; else loading">
<div class="search-bar">
  <label>
    Books:
    <input type="text" [(ngModel)]="bookTitle" class="search-input" placeholder="Search by title" />
  </label>
  <label>
    Author:
    <input type="text" [(ngModel)]="author" class="search-input" placeholder="Search by author" />
  </label>
</div>

<table class="book-table">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Year</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filteredBooks()">
      <td>
        <button type="button" (click)="openDetails(book)">Details</button>
      </td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.publicationYear }}</td>
      <td>{{ book.publisher }}</td>
    </tr>
  </tbody>
</table>
</ul>
<ng-template #loading>
    <p>Loading books...</p>
</ng-template>
<p *ngIf="error" class="error">{{ error }}</p>