<div class="dashboard-container">
    <aside class="sidebar" *ngIf="auth.isLoggedIn()">
    <nav>
        <ul>
        <li><a routerLink="/dashboard/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/dashboard/books" routerLinkActive="active">Books</a></li>
        <li><a routerLink="/dashboard/employee-panel" routerLinkActive="active" 
            *ngIf="auth.getUserRoles().includes('Admin') || auth.getUserRoles().includes('Librarian')">Employee panel</a></li>
        <li><a (click)="auth.logout()">Logout</a></li>
        </ul>
    </nav>
    </aside>
    <main class="main-content">
    <router-outlet></router-outlet>
    </main>
</div>